<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{base}"
      lang="ko">
<head>
    <title></title>
    <link rel="stylesheet" th:href="@{/modules/member/member.css}">
</head>

<div layout:fragment="content">
    <form role="form" th:object="${member}">
        username: <input type="text" th:name="username" th:value="*{username}"/><Br>
        password: <input type="text" th:name="|password.password|" th:value="*{password.password}"><br>
        name: <input type="text" th:name="name" th:value="*{name}" /><Br>
        email: <input type="text" th:name="email" th:value="*{email}" /><Br>
        enabled: <input type="checkbox" th:name="enabled" th:checked="*{enabled}" /> <Br>
        <div th:text="*{roleList}"/>

        roles:
        <div th:each="role, stat : ${T(kr.co.unisem.vms.code.EnumRole.Role).values()}">
            <input type="checkbox"
                   th:name="|roleList[${stat.index}].role|"
                   th:value="${role}"
                   th:text="${role.value}"
                   th:checked="${#lists.contains(*{roleList}, ${role.roleID})}"
            />
        </div>

        <button type="submit" class="btn btn-primary btn-add">Add</button>
    </form>
</div>
