<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{base}"
      lang="ko">
<head>
    <title></title>
    <link rel="stylesheet" th:href="@{/modules/member/member.css}">
</head>

<div layout:fragment="content">
    <table border="1">
        <tr>
            <th>add</th>
            <th>edit</th>
            <th>delete</th>
        </tr>
    <tr>
        <td>
            <form role="form" th:action="@{/member}" method="post" th:object="${member}">
                username: <input type="text" th:name="username"value="wsahn"/><Br>
                password: <input type="password" name="password" value="my_private_password"/><Br>
                name: <input type="text" name="name" value="Won-Seok"/><Br>
                email: <input type="text" name="email" value="wsan@wsan.co.kr"/><Br>
                enabled: <input type="checkbox" name="enabled" checked="checked"/> <Br>

                roles: <div th:each="role, row : ${T(kr.co.unisem.vms.code.EnumRole.Role).values()}">
                <input type="checkbox"
                       th:value="${role}"
                       th:checked="${role == T(kr.co.unisem.vms.code.EnumRole.Role).Admin}"
                       th:text="${role.value}"
                />
                </div>

                <button type="submit" class="btn btn-primary btn-add">Add</button>
            </form>
        </td>
        <td>

            <button class="btn btn-primary btn-add">Update</button>
        </td>

        <td>

            <button class="btn btn-primary btn-add">Remove</button>
        </td>
    </tr>
    </table>
    <div id="toolbar-member">
    </div>
    <table id="table-member" class="table table-bordered table-hover"
           data-toolbar="#toolbar-member"
           data-toggle="bootstrap-table"
           data-show-refresh="true"
           data-show-columns="true"
           data-pagination="true"
           data-side-pagination="client"
           data-page-size="10"
    >
        <thead>
        <tr>
            <th data-field="member_id" data-sortable="true">id</th>
            <th data-field="username" data-sortable="true">Title</th>
            <th data-field="name" data-sortable="true">category</th>
            <th data-field="enabled" data-sortable="true">date</th>
            <th data-field="timezone" data-sortable="true">date</th>
            <th data-field="created" data-sortable="true">date</th>
        </tr>
        </thead>
    </table>

</div>

<th:block layout:fragment="script">
    <script th:src="@{/modules/member/member.js}"></script>
    <script th:inline="javascript">
        var filter = {
        };
        console.log(filter);
    </script>
</th:block>
