<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/plugins/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-table/bootstrap-table.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/fontawesome/css/all.min.css}">
</head>
<body class="container-fluid">
    <div>
        Logged in: <b th:inline="text"  class="user"> [[${#httpServletRequest.remoteUser}]] </b>
        <form th:action="@{/app-logout}" method="POST">
            <input type="submit" value="Logout"/>
        </form>
    </div>

    <div id="toolbar-article">
        <form id="form-article">
            <input type="text" name="start_date" value="2019-04-16 10:00"> ~ <input type="text" name="end_date" value="2019-04-16 12:00">
            <input type="hidden" name="category" value="">
        </form>
    </div>
    <table  id="table-article" class="table table-bordered table-hover"

            data-toolbar="#toolbar-article"
            data-toggle="bootstrap-table"
            data-show-refresh="true"
            data-show-columns="true"
            data-pagination="true"
            data-side-pagination="server"
            data-page-size="10"
    >
        <thead>
        <tr>
            <th data-field="article_id" data-sortable="true">id</th>
            <th data-field="title"      data-sortable="true">Title</th>
            <th data-field="category"   data-sortable="true">category</th>
            <th data-field="date"       data-sortable="true">date</th>
        </tr>
        </thead>
    </table>
    <button type="button" class="btn btn-primary btn-refresh">Refresh</button>

    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/plugins/bootstrap-table/bootstrap-table.min.js}"></script>
    <script th:src="@{/js/modules/articles/articles.js}"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
            console.log(333);
        /*]]>*/

        console.log(444);
    </script>
</body>
</html>

